:root {
    --bg-solid: #f68084;
    --gradient: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    --highlight: #a6c0fe;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: "Fira Sans", sans-serif;
    background-color:white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 5px solid green;
}

.themes {
    display: flex;
    justify-content: space-evenly;
    /* border: 3px solid red; */
    width: 340px;
    height: 60px;
}

.theme {
    width: 60px;
}

.main {
    display: flex;
    flex-direction: column;
    height: 560px;
    width: 340px;
    margin-top: 20px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    background-color: white;
    overflow: hidden;
}

.screen {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 100%;
    padding: 10px;
    background-image: var(--gradient)
}

.display-result {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 2; /* 75% */
    justify-content: flex-end;
    align-items: center;
    font-size: 46px;
    color: white;
    padding-right: 8px;
    padding-top: 20px;
}

.display-calc {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1; /* 25% */
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 5px;
    font-size: 17px;
    color: white;
    padding-right: 10px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    height: 410px;
    font-size: 20px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid purple; */
    width: 25%;
    height: 20%;
}

#clear {
    width: 50%;
    border-bottom: 1px solid var(--bg-solid);
    border-right: 1px solid var(--bg-solid);
    font-size: 20px;
    font-weight: 700;
    background: var(--bg-solid);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#equals {
    width: 50%;
    color: white;
    background-image: var(--gradient)
}

#delete,
#divide,
#multiply,
#minus,
#plus,
#decimal {
    background-color: hsla(0, 0%, 80%, 0.5);
}

.small-cd {
    font-size: 15px;
}

.small-rd {
    font-size: 25px;
}

.number {
    font-size: 21px;
    font-weight: 700
}

#delete:hover,
#divide:hover,
#multiply:hover,
#minus:hover,
#plus:hover,
#decimal:hover,
.number:hover {
    color: var(--highlight);
    cursor: pointer;
}

#delete:active,
#divide:active,
#multiply:active,
#minus:active,
#plus:active,
#decimal:active,
.number:active {
    border: 2px solid rgba(128, 128, 128, 0.205);
}

#clear:hover,
#equals:hover {
    cursor:pointer;
}

.active {
    outline: 2px solid hotpink;
}

.t1 {
    background: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid black;
    box-sizing: border-box;
}

.t2 {
    background: linear-gradient(to right, #F29492, #114357);
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid black;
    box-sizing: border-box;
}

.t3 {
    background: linear-gradient(to right, #243B55, #141E30);
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid black;
    box-sizing: border-box;
}